/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Merriweather", serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

body {
  background-color: #fff;
  max-width: 480px;
  text-align: center;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.header-text {
  color: #999;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
}

#flip {
  height: 55px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 0px 12px;
  line-height: 1.5;
  margin-bottom: 3rem;
  display: inline-block;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#flip div:first-child {
  -webkit-animation: show 7s linear infinite;
          animation: show 7s linear infinite;
}

#flip div div {
  background: #42c58a;
}

#flip div:first-child div {
  background: #f37c7d;
}

#flip div:last-child div {
  background: #4ec7f3;
}

#flip div:nth-child(3) div {
  background: #7f94cb;
}

@-webkit-keyframes show {
  0% {
    margin-top: -24rem;
  }
  12% {
    margin-top: -18rem;
  }
  25% {
    margin-top: -18rem;
  }
  37% {
    margin-top: -12rem;
  }
  50% {
    margin-top: -12rem;
  }
  62% {
    margin-top: -6rem;
  }
  74% {
    margin-top: -6rem;
  }
  87% {
    margin-top: 0rem;
  }
  100% {
    margin-top: 0rem;
  }
}

@keyframes show {
  0% {
    margin-top: -24rem;
  }
  12% {
    margin-top: -18rem;
  }
  25% {
    margin-top: -18rem;
  }
  37% {
    margin-top: -12rem;
  }
  50% {
    margin-top: -12rem;
  }
  62% {
    margin-top: -6rem;
  }
  74% {
    margin-top: -6rem;
  }
  87% {
    margin-top: 0rem;
  }
  100% {
    margin-top: 0rem;
  }
}
.tag {
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
  color: #999;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 1rem auto;
}

svg {
  position: absolute;
}

.button-container {
  width: 100px;
  height: 100px;
  margin: 3rem auto 0rem;
}

#gooey-button {
  font-size: 2rem;
  padding: 1rem;
  width: 80%;
  height: 80%;
  border: none;
  color: #fff;
  -webkit-filter: url("#gooey");
          filter: url("#gooey");
  position: relative;
  background-color: #7f94cb;
  border-radius: 50%;
  -webkit-box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.3);
}
#gooey-button:focus {
  outline: none;
}
#gooey-button .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#gooey-button .bubbles .bubble {
  background-color: #7f94cb;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}
#gooey-button .bubbles .bubble:nth-child(1) {
  left: 56px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-1 3.02s infinite;
          animation: move-1 3.02s infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
#gooey-button .bubbles .bubble:nth-child(2) {
  left: 85px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-2 3.04s infinite;
          animation: move-2 3.04s infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#gooey-button .bubbles .bubble:nth-child(3) {
  left: 12px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-3 3.06s infinite;
          animation: move-3 3.06s infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
#gooey-button .bubbles .bubble:nth-child(4) {
  left: 86px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-4 3.08s infinite;
          animation: move-4 3.08s infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
#gooey-button .bubbles .bubble:nth-child(5) {
  left: 88px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-5 3.1s infinite;
          animation: move-5 3.1s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#gooey-button .bubbles .bubble:nth-child(6) {
  left: 85px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-6 3.12s infinite;
          animation: move-6 3.12s infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
#gooey-button .bubbles .bubble:nth-child(7) {
  left: 59px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-7 3.14s infinite;
          animation: move-7 3.14s infinite;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
#gooey-button .bubbles .bubble:nth-child(8) {
  left: 66px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-8 3.16s infinite;
          animation: move-8 3.16s infinite;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
#gooey-button .bubbles .bubble:nth-child(9) {
  left: 76px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-9 3.18s infinite;
          animation: move-9 3.18s infinite;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
#gooey-button .bubbles .bubble:nth-child(10) {
  left: 83px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-10 3.2s infinite;
          animation: move-10 3.2s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes move-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -127px);
            transform: translate(0, -127px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -127px);
            transform: translate(0, -127px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -97px);
            transform: translate(0, -97px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -97px);
            transform: translate(0, -97px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -78px);
            transform: translate(0, -78px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -78px);
            transform: translate(0, -78px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -110px);
            transform: translate(0, -110px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -110px);
            transform: translate(0, -110px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -112px);
            transform: translate(0, -112px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -112px);
            transform: translate(0, -112px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -107px);
            transform: translate(0, -107px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -107px);
            transform: translate(0, -107px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-7 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -107px);
            transform: translate(0, -107px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-7 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -107px);
            transform: translate(0, -107px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-8 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -85px);
            transform: translate(0, -85px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-8 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -85px);
            transform: translate(0, -85px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-9 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -130px);
            transform: translate(0, -130px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-9 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -130px);
            transform: translate(0, -130px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -116px);
            transform: translate(0, -116px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -116px);
            transform: translate(0, -116px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */