@use "colors" as *;

.header-text {
  color: $grey;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

#flip {
  height: 55px;
  overflow: hidden;
  div > div {
    color: #fff;
    padding: 0px 12px;
    line-height: 1.5;
    margin-bottom: 3rem;
    display: inline-block;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  div:first-child {
    transform: translateY(48px);
    animation: show 7s linear infinite;
  }
  div div {
    background: $green;
  }
  div:first-child div {
    background: $pink;
  }
  div:last-child div {
    background: $blue;
  }
  div:nth-child(3) div {
    background: $purple;
  }
}

@keyframes show {
  0% {
    // margin-top: -24rem;
    transform: translateY(48px);
  }
  10% {
    // margin-top: -18rem;
    transform: translateY(0px);
  }
  20% {
    // margin-top: -18rem;
    transform: translateY(0px);
  }
  30% {
    // margin-top: -12rem;
    transform: translateY(-96px);
  }
  40% {
    // margin-top: -12rem;
    transform: translateY(-96px);
  }
  50% {
    // margin-top: -6rem;
    transform: translateY(-192px);
  }
  60% {
    // margin-top: -6rem;
    transform: translateY(-192px);
  }
  70% {
    // margin-top: 0rem;
    transform: translateY(-288px);
  }
  80% {
    // margin-top: 0rem;
    transform: translateY(-288px);
  }
  90% {
    transform: translateY(-384px);
  }

  100% {
    transform: translateY(-384px);
  }
}

.tag {
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
  color: $grey;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 1rem auto;
}

.link-container {
  width: 80px;
  margin: 1.5rem auto 0rem;
  height: 80px;
  text-align: center;
}

.linkAction {
  width: 100%;
  height: 100%;
  line-height: 2.4;
  font-size: 2rem;
  font-weight: bold;
  color: $white;
  background: $purple;
  border: none;
  border-radius: 50%;
  box-shadow: 12px 12px 24px $purple;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  text-decoration: none;
  display: block;
  &::before {
    content: "";
    border-radius: 50%;
    min-width: calc(82px + 12px);
    min-height: calc(82px + 12px);
    border: 5px solid $pplneon;
    box-shadow: 0 0 80px $pplneon;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
  }
  &:hover,
  &:focus {
    transform: translateY(-6px);
    &::before {
      opacity: 1;
    }
    &::after {
      animation: none;
      display: none;
    }
  }
  &::after {
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px solid $pplneon;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
}

@keyframes ring {
  0% {
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
