@use "colors" as *;

.header-text {
  color: $grey;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

#flip {
  height: 55px;
  overflow: hidden;
  div > div {
    color: #fff;
    padding: 0px 12px;
    line-height: 1.5;
    margin-bottom: 3rem;
    display: inline-block;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  div:first-child {
    // transform: translateY(48px);
    animation: show 7s linear infinite;
  }
  div div {
    background: $green;
  }
  div:first-child div {
    background: $pink;
  }
  div:last-child div {
    background: $blue;
  }
  div:nth-child(3) div {
    background: $purple;
  }
}

@keyframes show {
  0% {
    transform: translateY(48px);
  }
  12% {
    transform: translateY(0px);
  }
  24% {
    transform: translateY(0px);
  }
  36% {
    transform: translateY(-96px);
  }
  48% {
    transform: translateY(-96px);
  }
  60% {
    transform: translateY(-192px);
  }
  72% {
    transform: translateY(-192px);
  }
  83% {
    transform: translateY(-288px);
  }
  95% {
    transform: translateY(-288px);
  }
  100% {
    transform: translateY(-340px);
  }
}

.tag {
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
  color: $grey;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 1rem auto;
}

.link-container {
  width: 80px;
  margin: 1.5rem auto 0rem;
  height: 80px;
  text-align: center;
}

.linkAction {
  background: $purple;
  border-radius: 50%;
  box-shadow: 0 0 0 0 $purple;
  text-decoration: none;
  display: block;
  font-weight: bold;
  height: 80px;
  width: 80px;
  line-height: 2.4;
  font-size: 2rem;
  position: relative;
  top: 0px;
  color: $white;
  transition: all 0.3s linear;
  animation: pulse 2s infinite;
  &:hover,
  &:focus {
    top: -6px;
    background: $blue;
    animation:none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(127, 148, 203, 0.7)
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(127, 148, 203, 0)
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(127, 148, 203, 0)
  }
}