@use "colors" as *;

.header-text {
  color: $grey;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

#flip {
  height: 55px;
  overflow: hidden;
   div > div {
    color: #fff;
    padding: 0px 12px;
    line-height: 1.5;
    margin-bottom: 3rem;
    display: inline-block;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  div:first-child {
    animation: show 9s linear infinite;
  }
  div div {
    background: $green;
  }
  div:first-child div {
    background: $pink;
  }
  div:last-child div {
    background: $blue;
  }
  div:nth-child(3) div {
    background: $purple;
  }
}

@keyframes show {
  0% {
    margin-top: -24rem;
  }
  11% {
    margin-top: -18rem;
  }
  22% {
    margin-top: -18rem;
  }
  33% {
    margin-top: -12rem;
  }
  45% {
    margin-top: -12rem;
  }
  57% {
    margin-top: -6rem;
  }
  70% {
    margin-top: -6rem;
  }
  82% {
    margin-top: 0rem;
  }
  93% {
    margin-top: 0rem;
  }
  100% {
    margin-top: 2rem;
  }
}

.tag {
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
  color: $grey;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 1rem auto;
}


.link-container {
  width: 120px;
  margin: 3rem auto 0rem;
  svg {
    position: absolute;
  }
}

.linkAction {
  font-size: 2rem;
  line-height: 2;
  width: 120px;
  margin: 2rem auto 0rem;
  border: none;
  color: $white;
  position: relative;
  background-color: $purple;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  display: block;
  &:focus,
  &:hover {
    outline: none;
    background-color: $blue;
    transform: scale(1.05);
    .bubbles .bubble{
      background-color: $blue;
      transform: scale(1.05);
    }
  }
}

