@use "colors" as *;

.todos-wrapper {
    display: flex;
    flex-direction: column;
    .todo {
        margin: 1rem 0;
        padding: 1rem;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        border-radius: 10px;
        font-size: 0.8rem;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        z-index: 0;
        img {
            flex: 1 1 25%;
            width: 25%;
            height: auto;
            margin-right: 1rem;
        }
        .text {
            flex: 3 1 75%;
            margin-bottom: 2rem;
        }
        .menu {
            position: relative;
            .fa-ellipsis-v {
                width: 25px;
                height: 25px;
                position: relative;
                z-index: 5;
                transition: all 0.2s ease;
                path {
                    fill: $grey;
                }
                &:hover,
                &:focus {
                    transform: scale(1.1);
                    path {
                        fill: rgb(110, 110, 110);
                    }
                    
                        cursor: pointer;
                    
                }
            }
            .icons {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                display: flex;
                z-index: 1;
                top: -1rem;
                right: -1.5rem;
                background-color: white;
                border-radius: 10px;
                padding: 1rem 2.4rem 0.8rem 1rem;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                transition: all 0.5s ease;
                .fa-edit,
                .fa-trash-alt,
                .fa-check-square {
                    width: 25px;
                    height: 25px;
                    margin-right: 1rem;
                    transition: all 0.2s ease;
                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
                .fa-edit path {
                    fill: $purple;
                }
                .fa-trash-alt path {
                    fill: $pink;
                }
                .fa-check-square path {
                    fill: $green;
                }
                .fa-edit:hover {
                    path{
                        fill: $brpurple;
                    }
                }
                .fa-trash-alt:hover {
                    path{
                        fill: $brpink;
                    }
                }
                .fa-check-square:hover {
                    path{
                        fill: $brgreen;
                    }
                }
            }
            .show {
                // display: flex;
                visibility: visible;
                opacity: 1;
                right: -1rem;
            }
        }

        * {
            text-align: left;
            margin-bottom: 0.2rem;
        }
        .category {
            font-family: "Karla", sans-serif;
            text-transform: uppercase;
            color: $grey;
            font-size: 1rem;
        }
        .time {
            color: $blue;
        }
        .date {
            color: $grey;
        }

        .status {
            position: absolute;
            right: 1rem;
            bottom: 1rem;

            font-family: "Karla", sans-serif;
            text-transform: uppercase;
        }
        .progress {
            color: $green;
        }
        .completed {
            color: $pink;
        }

        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: white;
            color: $grey;
            text-align: center;
            border-radius: 6px;
            padding: 0.2rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            font-family: "Karla", sans-serif;

            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            margin-left: -60px;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    }
}

#app > div {
    position: relative;
}

.addToDo-wrapper {
    width: 100vw;
    height: 100px;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.addToDo {
    position: fixed;
    z-index: 100;
    bottom: 3vh;
    right: calc(50vw - 35px);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $pink;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    &:hover {
        box-shadow: 0px 37px 20px -15px rgba(0, 0, 0, 0.2);
        transform: translate(0px, -10px);
    }

    a {
        color: white;
        font-size: 2rem;
        line-height: 70px;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: white;
        color: $grey;
        text-align: center;
        border-radius: 6px;
        padding: 0.2rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        font-family: "Karla", sans-serif;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}
